.fullWidth {
	width: 100%;
}
.alignRight {
	text-align: right;
}
.alignCenter {
	text-align: center;
}
.green {
	background-color: #99FF66;
}
.red {
	background-color: #FF5050;
}
/* Attribution for Tabs functionality to .. http://www.menucool.com/tabbed-content */

ul.tabs {
	padding: 7px 0;
	margin: 0;
	font-size: 0;
	list-style-type: none;
	text-align: left;
	padding-left: 20px;
}
ul.tabs li {
	display: inline;
	background: White;
	margin-left: -4px;
}
ul.tabs li a {
	font: normal 12px Verdana;
	text-decoration: none;
	position: relative;
	padding: 7px 22px;
	color: #000;
	background: #F6F6F9;
	border: 1px solid #CCC;
	border-right: 0;
}
ul.tabs li:last-child a {
	border-right: 1px solid #CCC;
}
ul.tabs li a:hover {
	color: #000;
	background: white;
}
ul.tabs li.selected a,
ul.tabs li.selected a:hover {
	font-weight: normal;
	background: #FFF;
	border-bottom: 1px solid #FFF;
	color: #000;
}
ul.tabs li.selected a:hover {
	text-decoration: none;
}
.tabcontents {
	border-top: 1px solid #CCC;
	padding: 30px 10px;
}