.fullWidth {
	width: 100%;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.green {
	background-color: #99FF66;
}

.red {
	background-color: #FF5050;
}
/*
 * Tabs
 */

.tabs {
	position: relative;
	height: 100%;
	clear: both;
	margin: 35px 0 25px;
}

.tab {
	float: left;
}

.tabLabel {
	background: #eee;
	padding: 10px;
	border: 1px solid #ccc;
	margin-left: -1px;
	position: relative;
	left: 1px;
	top: -20px;
}

.content {
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px;
	opacity: 0;
}

[type=radio]:checked ~ label {
	background: white;
	border-bottom: 1px solid white;
	z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 1;
	opacity: 1;
}